@use "./base";
@use "./varaibles" as *;
@use "./mixins";

.button {
  width: 211px;
  height: 56px;
  padding-top: 17px;
  border-radius: 12px;
  border: 1px solid $colorActReg;
  @include mixins.fontStyle(16px, 700, 20px, 0em);
  font-family: $font;
  text-align: center;
  background: $colorActReg;
  color: $colorW;
  margin: 30px 0;
  &__main {
    border: none;
    @include mixins.fontStyle(16px, 700, 20px, 0em);
    font-family: $font;
    text-align: center;
    background: $colorActReg;
    color: $colorW;
  }
  &__news {
    border: 1px solid $colorSepar;
    @include mixins.fontStyle(16px, 700, 20px, 0em);
    font-family: $font;
    text-align: center;
    background: $colorSepar;
    color: $colorMainReg;
    width: 120px;
    height: 38px;
    border-radius: 10px;
    top: 0;
    left: 0;
    &:hover {
      background: $colorW;
    }
    &:first-child {
      background: $colorW;
    }
  }
}
.button__double {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: row;
  background: $colorSepar;
  border: 1px solid $colorSepar;
  width: 231px;
  height: 40px;
  gap: 2px;
  padding: 0;

  // padding-right: 32px;
  // margin-left: auto;
  // &:hover {
  //   background: $colorW;
  // }
}
