@use "./base";
@use "./varaibles" as *;
@use "./mixins";

.logo {
  max-width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__hlegal__img {
    max-width: 100%;
  }
  &-page {
    font-family: $font;
    @include mixins.fontStyle(36px, 400, 44px, 0);
    text-align: left;
  }
}
.lang-switcher {
  display: inline-flex;
  gap: 6px;
  &__item {
    width: 33px;
    height: 25px;
    padding: 5px 7px;
    border-radius: 8px;
    border: 1px solid $colorMainReg;
  }
  &__link {
    @include mixins.fontStyle(12px, 700, 15px, 0em);
    text-align: center;
    color: $colorW;
    font-family: $font;
  }
}
.adress {
  @include mixins.fontStyle(16px, 400, 20px, 0em);
  text-align: right;
  font-family: $font;
}
.phone {
  @include mixins.fontStyle(16px, 700, 20px, 0em);
  text-align: right;
  color: $colorW;
  font-family: $font;
}
.map {
  @include mixins.fontStyle(12px, 700, 15px, 1px);
  color: $colorActReg;
  text-align: left;
  font-family: $font;
}
.link {
  color: $colorActReg;
  font-family: $font;
  @include mixins.fontStyle(14px, 700, 17px, 1px);
  text-align: left;

  &:hover {
    stroke: $colorAccent;
  }
}
svg {
  stroke: $colorActReg;
  &:hover {
    stroke: $colorAccent;
  }
}
// &__main {
//   @include mixins.fontStyle(14px, 700, 17px, 1px);
//   text-align: left;
// }

.main__title {
  @include mixins.fontStyle(38px, 700, 46px, 0em);
  text-align: left;
  color: #f0145a;
  font-family: $font;
}
.main__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  @include mixins.fontStyle(14px, 700, 17px, 1px);
  text-align: left;
}
.switch {
  background: $colorActReg;
}
// .shadow__container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   // max-width: 100%;
//   // margin: 0 auto;

//   // margin-bottom: -80px;
// }
// .shadow {
//   background: #cacadb;
//   border-bottom-left-radius: 12px;
//   border-bottom-right-radius: 12px;
//   height: 10px;
//   width: 1400px;
// }

// .shadow:last-of-type {
//   width: 1360px;
//   background: #e7e7f2;
// }
