@use "./base";
@use "./varaibles" as *;
@use "./mixins";

.logo {
  max-width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__hlegal__img {
    max-width: 100%;
  }
  &__page {
    font-family: $font;
    @include mixins.fontStyle(36px, 400, 44px, 0);
    text-align: left;
  }
}

.adress {
  @include mixins.fontStyle(16px, 400, 20px, 0em);
  text-align: right;
  font-family: $font;
}
.phone {
  @include mixins.fontStyle(16px, 700, 20px, 0em);
  text-align: right;
  color: $colorW;
  font-family: $font;
}
.map {
  @include mixins.fontStyle(12px, 700, 15px, 1px);
  color: $colorActReg;
  text-align: left;
  font-family: $font;
}
.link {
  color: $colorActReg;
  font-family: $font;
  @include mixins.fontStyle(14px, 700, 17px, 1px);
  text-align: left;

  &:hover {
    color: $colorAccent;
  }
}
svg {
  stroke: $colorActReg;
  &:hover {
    stroke: $colorAccent;
  }
}
.link-circle {
  color: $colorActReg;
  border-style: none;
}

.svg-circle {
  fill: $colorActReg;
  fill-opacity: 0.2;
  &:hover {
    fill: $colorActReg;
    fill-opacity: 0.9;
  }
  &:first-child {
    fill: $colorActReg;
    fill-opacity: 0.9;
  }
}
.main__title {
  @include mixins.fontStyle(38px, 700, 46px, 0em);
  text-align: left;
  color: #f0145a;
  font-family: $font;
}
.main__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  @include mixins.fontStyle(14px, 700, 17px, 1px);
  text-align: left;
}
.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
