@use "./base";
@use "./varaibles" as *;
@use "./mixins";

.logo {
  max-width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;

  &__hlegal__img {
    max-width: 100%;
  }
  &__page {
    font-family: $font;
    @include mixins.fontStyle(36px, 400, 44px, 0);
    text-align: left;
  }
}
.hlegal-pages {
  color: $colorMainReg;
}

.adress {
  @include mixins.fontStyle(16px, 400, 20px, 0em);
  text-align: right;
  font-family: $font;
}
.phone {
  @include mixins.fontStyle(16px, 700, 20px, 0em);
  text-align: right;
  color: $colorW;
  font-family: $font;
}
.map {
  @include mixins.fontStyle(12px, 700, 15px, 1px);
  color: $colorActReg;
  text-align: left;
  font-family: $font;
}
.link {
  color: $colorActReg;
  font-family: $font;
  @include mixins.fontStyle(14px, 700, 17px, 1px);
  text-align: left;

  &:hover {
    color: $colorAccent;
  }
}
.svg-link {
  stroke: $colorActReg;
  &:hover {
    stroke: $colorAccent;
  }
}
.link-circle {
  color: $colorActReg;
  border-style: none;

  &:first-child {
    .svg-circle {
      fill: $colorActReg;
      fill-opacity: 0.9;
    }
  }
}

.svg-circle {
  fill: $colorActReg;
  fill-opacity: 0.2;
  &:hover {
    fill: $colorActReg;
    fill-opacity: 0.9;
  }
}

.facebook {
  fill: $colorW;
}

.main__title {
  text-align: left;
  font-family: $font;
  @include mixins.fontTitle(38px, 700, 46px, 0em, $colorGradText);
  background-clip: text;
  text-emphasis-color: transparent;
  background: -webkit-linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  @include mixins.fontStyle(14px, 700, 17px, 1px);
  text-align: left;
}
.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.text-pages {
  color: $colorGreyText;
}
@media screen and (max-width: 575px) {
  .main__title {
    @include mixins.fontTitle(30px, 700, 36px, 0em, $colorGradText);
  }
}
