@use "./base";
@use "./elements";
@use "./varaibles" as *;
@use "./mixins";

.header {
  background: $colorMainReg;

  &__container {
    min-height: 144px;
    max-width: 100%;
    margin: 0 auto;

    &__wrapper {
      padding: 50px 60px 0 60px;
      color: $colorW;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
.header-main {
  position: absolute;
  top: 0;
  width: 100%;
}
.none {
  display: none;
}
.wrapper__navigation-small {
  display: none;
}
// .wrapper__logo-nav {
//   display: none;
.logo-nav {
  display: none;
}
// }
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  row-gap: 18px;

  &__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
    gap: 6px;
  }
  &__row-two {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
  }
  &__row2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
    gap: 14px;
  }
  .logo {
    &:last-child {
      display: none;
    }
  }
}
.lang-switcher {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  &__item {
    width: 33px;
    height: 25px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid transparent;
    &:hover {
      background: $colorAccent;
      border-color: $colorAccent;
    }
    &:last-child {
      background: $colorAccent;
      border-color: $colorAccent;
    }
  }
  &__link {
    @include mixins.fontStyle(12px, 700, 15px, 0em);
    text-align: center;
    color: $colorW;
    font-family: $font;
  }
}
.page__link {
  @include mixins.fontStyle(16px, 700, 20px, 0em);
  text-align: right;
  color: $colorW;
}
.header-pages {
  background: $colorW;
  .facebook {
    fill: $colorGreyText;
  }
  .text-pages {
    color: $colorGreyText;
  }
  .title-pages {
    color: $colorMainReg;
  }
}
.item-pages {
  border: 1px solid $colorW;
}

.color-pages {
  color: $colorActReg;
  &:hover {
    color: $colorAccent;
    border-bottom: 2px solid $colorAccent;
  }
  &:nth-of-type(4) {
    color: $colorAccent;
    border-bottom: 2px solid $colorAccent;
  }
}
@media screen and (max-width: 768px) {
  .header__container__wrapper {
    padding: 50px 60px 60px 60px;
    flex-direction: column;
    justify-content: flex-start;

    .logo {
      display: none;
    }
  }

  .navigation {
    // display: flex;
    justify-content: flex-start;
    // align-items: center;
    // flex-direction: column;
    row-gap: 30px;

    &__row {
      // display: flex;
      justify-content: flex-start;
      //   align-items: center;
      //   flex-direction: row;
      align-self: flex-start;
      //   gap: 6px;
    }
    // .wrapper__logo-nav {
    //   display: block;
    //   // background: $colorGrey;
    //   padding: 30px 0;
    .logo-nav {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      align-self: flex-start;
    }
    // }
    &__row-two {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      align-self: flex-start;
    }
    &__row2 {
      // display: flex;
      justify-content: flex-start;
      // align-items: center;
      // flex-direction: row;
      align-self: flex-start;
      // gap: 14px;
    }
  }
}
@media screen and (max-width: 575px) {
  // .publications-page {
  //   .logo {
  //     &:first-child {
  //       display: none;
  //     }
  //   }
  .header-pages {
    .header__container {
      min-height: 102px;

      &__wrapper {
        display: none;
        // padding: 10px 15px 0 15px;
        // color: $colorGrey;
        // // display: flex;
        // flex-direction: column;
        // justify-content: flex-start;
      }
      .wrapper__navigation-small {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 12px 15px 0 15px;
        // align-self: flex-start;
        // gap: 14px;
        background: $colorGrey;
        height: 57px;
      }
      .logo-nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
      }
      .logo-small {
        height: 32px;
      }
      .wrapper-logo-nav {
        background: $colorW;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px 10px 15px;
        .logo__page {
          display: block;
          font-size: 20px;
          line-height: 24px;
          height: 26px;
          text-align: center;
          align-self: flex-start;
        }
        .logo__hlegal {
          width: 80%;
        }
        .logo__slash {
          width: 100%;
          align-items: center;
        }
        .logo__hlegal-img {
          max-width: 70px;
        }
        .logo__slash-img {
          height: 26px;
        }
      }
      .button-burger {
        display: flex;
        // margin-right: auto;
        background: transparent;
        border: 1px solid transparent;
        justify-content: flex-end;
        align-items: center;
        width: 32px;
        height: 32px;
        &:hover {
          background: $colorSepar;
          border: 1px solid $colorSepar;
        }
      }
    }
  }

  .navigation {
    display: none;
    // .adress {
    //   display: none;
    // }
    // .facebook {
    //   display: none;
    // }
    // .dot {
    //   display: none;
    // }
    // .phone-main {
    //   width: 100%;
    //   align-self: center;
  }

  // // display: flex;
  // justify-content: flex-start;
  // // align-items: center;
  // // flex-direction: column;
  // row-gap: 30px;

  // &__row {
  //   // background: $colorGrey;
  //   // display: flex;

  //   justify-content: space-between;
  //   // align-items: stretch;
  //   //   flex-direction: row;
  //   // align-self: stretch;
  //   //   gap: 6px;
  // }
  // .wrapper__logo-nav {
  //   display: block;
  //   // margin: 0 auto;
  //   max-width: 100%;
  //   height: 57px;
  //   padding: 10px 0;
  // .logo-nav {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  //   align-self: flex-start;
  //   max-width: calc(100% - 147px);
  // }
  // }
  // &__row-two {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  //   flex-direction: row;
  //   align-self: flex-start;
  // }
  .navigation__row2 {
    display: none;
  }
}
