@use "./base";
@use "./elements";
@use "./varaibles" as *;
@use "./mixins";

.header {
  background: $colorMainReg;

  &__container {
    min-height: 144px;
    max-width: 100%;
    margin: 0 auto;

    &__wrapper {
      padding: 50px 60px 0 60px;
      color: $colorW;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
.header-main {
  position: absolute;
  top: 0;
  width: 100%;
}
.none {
  display: none;
}
.logo-nav {
  display: none;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  row-gap: 18px;

  &__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
    gap: 6px;
  }
  &__row-two {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
  }
  &__row2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
    gap: 14px;
  }
  .logo {
    &:last-child {
      display: none;
    }
  }
}
.lang-switcher {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  &__item {
    width: 33px;
    height: 25px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid transparent;
    &:hover {
      background: $colorAccent;
      border-color: $colorAccent;
    }
    &:last-child {
      background: $colorAccent;
      border-color: $colorAccent;
    }
  }
  &__link {
    @include mixins.fontStyle(12px, 700, 15px, 0em);
    text-align: center;
    color: $colorW;
    font-family: $font;
  }
}
.page__link {
  @include mixins.fontStyle(16px, 700, 20px, 0em);
  text-align: right;
  color: $colorW;
}
.header-pages {
  background: $colorW;
  .facebook {
    fill: $colorGreyText;
  }
  .text-pages {
    color: $colorGreyText;
  }
  .title-pages {
    color: $colorMainReg;
  }
}
.item-pages {
  border: 1px solid $colorW;
}

.color-pages {
  color: $colorActReg;
  &:hover {
    color: $colorAccent;
    border-bottom: 2px solid $colorAccent;
  }
  &:nth-of-type(4) {
    color: $colorAccent;
    border-bottom: 2px solid $colorAccent;
  }
}
@media screen and (max-width: 768px) {
  .publications-page {
    .logo {
      &:first-child {
        display: none;
      }
    }
    .header {
      &__container {
        // min-height: 144px;
        // max-width: 100%;
        // margin: 0 auto;

        &__wrapper {
          padding: 50px 60px 65px 60px;
          // color: $colorW;
          // display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
      }
    }
  }

  .navigation {
    // display: flex;
    justify-content: flex-start;
    // align-items: center;
    // flex-direction: column;
    row-gap: 30px;

    &__row {
      // display: flex;
      justify-content: flex-start;
      //   align-items: center;
      //   flex-direction: row;
      align-self: flex-start;
      //   gap: 6px;
    }
    .logo-nav {
      justify-content: flex-start;
      align-items: flex-start;
      align-self: flex-start;
    }
    &__row-two {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      align-self: flex-start;
    }
    &__row2 {
      // display: flex;
      justify-content: flex-start;
      // align-items: center;
      // flex-direction: row;
      align-self: flex-start;
      // gap: 14px;
    }
  }
}
@media screen and (max-width: 575px) {
  .publications-page {
    .logo {
      &:first-child {
        display: none;
      }
    }
    .header {
      &__container {
        // min-height: 144px;
        // max-width: 100%;
        // margin: 0 auto;

        &__wrapper {
          padding: 50px 60px 65px 60px;
          // color: $colorW;
          // display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
      }
    }
  }

  .navigation {
    .adress {
      display: none;
    }
    .facebook {
      display: none;
    }
    .dot {
      display: none;
    }
    .phone {
      // display: block;
      justify-content: flex-end;
      align-items: flex-end;
      // text-align: right;
    }

    // // display: flex;
    // justify-content: flex-start;
    // // align-items: center;
    // // flex-direction: column;
    // row-gap: 30px;

    &__row {
      // display: flex;
      justify-content: space-between;
      //   align-items: center;
      //   flex-direction: row;
      // align-self: flex-start;
      //   gap: 6px;
    }
    // .logo-nav {
    //   justify-content: flex-start;
    //   align-items: flex-start;
    //   align-self: flex-start;
    // }
    // &__row-two {
    //   display: flex;
    //   justify-content: flex-start;
    //   align-items: center;
    //   flex-direction: row;
    //   align-self: flex-start;
    // }
    // &__row2 {
    //   // display: flex;
    //   justify-content: flex-start;
    //   // align-items: center;
    //   // flex-direction: row;
    //   align-self: flex-start;
    //   // gap: 14px;
  }
}
