@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

.logo {
  max-width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}
.logo__hlegal__img {
  max-width: 100%;
}
.logo__page {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  display: block;
}

.hlegal-pages {
  color: #323264;
}

.adress {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}

.phone {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.map {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  color: #24a3ff;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.link {
  color: #24a3ff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: left;
}
.link:hover {
  color: #f0145a;
}

.svg-link {
  stroke: #24a3ff;
}
.svg-link:hover {
  stroke: #f0145a;
}

.link-circle {
  color: #24a3ff;
  border-style: none;
}
.link-circle:first-child .svg-circle {
  fill: #24a3ff;
  fill-opacity: 0.9;
}

.svg-circle {
  fill: #24a3ff;
  fill-opacity: 0.2;
}
.svg-circle:hover {
  fill: #24a3ff;
  fill-opacity: 0.9;
}

.facebook {
  fill: #ffffff;
}

.main__title {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  color: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
  background: -webkit-linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: left;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.text-pages {
  color: #b3b3ba;
}

@media screen and (max-width: 768px) {
  .logo {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 575px) {
  .main__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    color: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  }
}
.button {
  width: 211px;
  height: 56px;
  padding-top: 17px;
  border-radius: 12px;
  border: 1px solid #24a3ff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background: #24a3ff;
  color: #ffffff;
  margin: 30px 0;
}
.button__main {
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background: #24a3ff;
  color: #ffffff;
}
.button__news {
  border: 1px solid #e6e6f0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background: #e6e6f0;
  color: #323264;
  width: 120px;
  height: 38px;
  border-radius: 10px;
  top: 0;
  left: 0;
}
.button__news:hover {
  background: #ffffff;
}
.button__news:first-child {
  background: #ffffff;
}

.button-shadow {
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}

.button__double {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: row;
  background: #e6e6f0;
  border: 1px solid #e6e6f0;
  width: 231px;
  height: 40px;
  gap: 2px;
  padding: 0;
}

.header {
  background: #323264;
}
.header__container {
  min-height: 144px;
  max-width: 100%;
  margin: 0 auto;
}
.header__container__wrapper {
  padding: 50px 60px 0 60px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header-main {
  position: absolute;
  top: 0;
  width: 100%;
}

.none {
  display: none;
}

.wrapper__navigation-small {
  display: none;
}

.logo-nav {
  display: none;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  row-gap: 18px;
}
.navigation__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  align-self: flex-end;
  gap: 6px;
}
.navigation__row-two {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  align-self: flex-end;
}
.navigation__row2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  align-self: flex-end;
  gap: 14px;
}
.navigation .logo:last-child {
  display: none;
}

.lang-switcher {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}
.lang-switcher__item {
  width: 33px;
  height: 25px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
}
.lang-switcher__item:hover {
  background: #f0145a;
  border-color: #f0145a;
}
.lang-switcher__item:last-child {
  background: #f0145a;
  border-color: #f0145a;
}
.lang-switcher__link {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.page__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #ffffff;
}

.header-pages {
  background: #ffffff;
}
.header-pages .facebook {
  fill: #b3b3ba;
}
.header-pages .text-pages {
  color: #b3b3ba;
}
.header-pages .title-pages {
  color: #323264;
}

.item-pages {
  border: 1px solid #ffffff;
}

.color-pages {
  color: #24a3ff;
}
.color-pages:hover {
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
}
.color-pages:nth-of-type(4) {
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
}

@media screen and (max-width: 768px) {
  .header__container__wrapper {
    padding: 50px 60px 60px 60px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header__container__wrapper .logo {
    display: none;
  }

  .navigation {
    justify-content: flex-start;
    row-gap: 30px;
  }
  .navigation__row {
    justify-content: flex-start;
    align-self: flex-start;
  }
  .navigation .logo-nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
  }
  .navigation__row-two {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    align-self: flex-start;
  }
  .navigation__row2 {
    justify-content: flex-start;
    align-self: flex-start;
  }
}
@media screen and (max-width: 575px) {
  .header-pages .header__container {
    min-height: 102px;
  }
  .header-pages .header__container__wrapper {
    display: none;
  }
  .header-pages .header__container .wrapper__navigation-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 12px 15px 0 15px;
    background: #f5f5fa;
    height: 57px;
  }
  .header-pages .header__container .logo-nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
  }
  .header-pages .header__container .logo-small {
    height: 32px;
  }
  .header-pages .header__container .wrapper-logo-nav {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 10px 15px;
  }
  .header-pages .header__container .wrapper-logo-nav .logo__page {
    display: block;
    font-size: 20px;
    line-height: 24px;
    height: 26px;
    text-align: center;
    align-self: flex-start;
  }
  .header-pages .header__container .wrapper-logo-nav .logo__hlegal {
    width: 80%;
  }
  .header-pages .header__container .wrapper-logo-nav .logo__slash {
    width: 100%;
    align-items: center;
  }
  .header-pages .header__container .wrapper-logo-nav .logo__hlegal-img {
    max-width: 70px;
  }
  .header-pages .header__container .wrapper-logo-nav .logo__slash-img {
    height: 26px;
  }
  .header-pages .header__container .button-burger {
    display: flex;
    background: transparent;
    border: 1px solid transparent;
    justify-content: flex-end;
    align-items: center;
    width: 32px;
    height: 32px;
  }
  .header-pages .header__container .button-burger:hover {
    background: #e6e6f0;
    border: 1px solid #e6e6f0;
  }

  .navigation {
    display: none;
  }

  .navigation__row2 {
    display: none;
  }
}
.footer {
  background: #f5f5fa;
}
.footer__container {
  min-height: 139px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}
.footer__container__wrapper {
  padding: 30px 0;
  margin: 0 auto;
  border-top: 2px solid #e6e6f0;
}
.footer__adress {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-bottom: 21px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__adress-last {
  color: #323264;
}
.footer__logo {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;
  color: #b3b3ba;
}
.footer__logo-last {
  margin-left: auto;
}
.footer__phone {
  color: #46466e;
}
.footer__contact {
  margin-top: 0px;
}
.footer .footer__logo-invisible {
  display: none;
  text-align: center;
}

.facebook-blue {
  color: #006ccf;
}

.mail {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #24a3ff;
}

@media screen and (max-width: 768px) {
  .publications-page .footer__adress {
    justify-content: center;
  }
  .publications-page .footer__logo-last {
    display: none;
    align-self: center;
  }
  .publications-page .footer__logo-invisible {
    display: block;
    margin-top: 28px;
  }
  .publications-page .footer__logo-invisible .footer__logo {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .footer__container {
    padding: 0 30px;
  }
  .footer__adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .footer .dot {
    display: none;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__logo-last {
    margin: 0 auto;
    display: none;
  }
  .footer__contact {
    margin-top: 20px;
  }
  .footer .footer__logo-invisible {
    display: block;
    margin-top: 10px;
  }
}
.publications {
  background: #f5f5fa;
}
.publications__container {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.publications__wrapper {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 30px 60px;
}
.publications__wrapper-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
  padding: 20px 0;
}
.publications__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  max-width: 100%;
  max-height: 100%;
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
}
.publications__card-img {
  max-width: 100%;
  align-self: flex-start;
  margin-bottom: 15px;
}
.publications__card-image {
  width: 100%;
  height: 100%;
}
.publications__card-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  padding: 0 30px 15px 30px;
}
.publications__card-title {
  color: #24a3ff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.publications__card-dat {
  color: #b3b3ba;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: left;
}
.publications__text-block {
  margin: 0px 30px 0 30px;
  border-top: 4px solid #e6e6f0;
}
.publications__text {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 15px;
}

@media screen and (max-width: 768px) {
  .publications__wrapper-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr, 1fr);
  }
  .publications__card:last-of-type {
    justify-self: stretch;
    grid-column: 1/3;
    grid-row: 2;
    margin-bottom: 0;
  }
  .publications__card-img {
    width: 100%;
    align-self: center;
  }
  .publications__text {
    padding: 15px 0 30px 0;
  }
}
@media screen and (max-width: 575px) {
  .publications__wrapper {
    padding: 30px;
  }
  .publications__wrapper-card {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: repeat(2, 1fr);
  }
}
.page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 20px 0;
}

.publications__card:last-child {
  padding-top: 30px;
}

.publications .button {
  margin: 0 auto 10px auto;
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .page {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: repeat(2, 1fr);
  }

  .publications__card-img {
    max-width: 100%;
    align-self: center;
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=publications.css.map */