@use "./base";
@use "./elements";
@use "./button";
@use "./header";
@use "./publications_block";
@use "./footer";
@use "./varaibles" as *;
@use "./mixins";
.page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 20px 0;
}
.publications__card {
  &:last-child {
    padding-top: 30px;
  }
}
.publications {
  .button {
    margin: 0 auto 10px auto;
  }
}
@media screen and (max-width: 768px) {
  .page {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .page {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: repeat(2, 1fr);
  }
  .publications__card-img {
    max-width: 100%;
    align-self: center;
    margin-bottom: 15px;
  }
}
